<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <app-header></app-header>
   <!--<app-main-banner></app-main-banner> -->
  <app-services></app-services>
  <app-about-us></app-about-us>
  <app-courses></app-courses>
 <!-- <app-facts></app-facts>-->

  <app-team></app-team>
  <app-events></app-events>
  <app-pfespace></app-pfespace>

  <app-contact-us></app-contact-us>

  <app-footer></app-footer>

  <router-outlet></router-outlet>