<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" [class.hidden]="isHeaderHidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a routerLink="/" class="logo">
            <h1>Coding Factory</h1>
          </a>
          <!-- ***** Logo End ***** -->

          <!-- ***** Search Bar Start ***** -->
          <div class="search-input">
            <form id="search">
              <input type="text" placeholder="Type Something" id="searchText" name="searchKeyword" (keypress)="handleSearch($event)" />
              <i class="fa fa-search"></i>
            </form>
          </div>

          <!-- ***** Search Bar End ***** -->

          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section"><a routerLink="/" fragment="top" class="active">Home</a></li>
            <li class="scroll-to-section"><a routerLink="/" fragment="services">Services</a></li>
            <li class="scroll-to-section"><a routerLink="/listTrainingUser">Courses</a></li>
            <li class="scroll-to-section"><a routerLink="/" fragment="team">Team</a></li>
            <li class="scroll-to-section"><a href="javascript:void(0)" (click)="navigateToEvents()">Events</a></li>

            <!-- ***** Modify Profile Button ***** -->
            <li class="scroll-to-section" *ngIf="isAuthenticated">
              <a (click)="toggleProfileForm()" title="Modify Profile">
                <i class="fas fa-user-edit"></i>
              </a>

              <div *ngIf="showProfileForm" class="profile-dropdown">
                <app-modify-user></app-modify-user>
              </div>

            </li>

          </ul>

          <!-- Menu Trigger -->
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>

      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
