<div class="wrapper">
  <div class="main-panel">
    <div class="container">
      <h2>Projects List</h2>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Field</th>
            <th>Start Date</th>
            <th>End Date</th>
          
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects" [attr.data-project-id]="project.id">
            <td (click)="goToDetails(project.id)">{{ project.title }}</td>
            <td (click)="goToDetails(project.id)">{{ project.field }}</td>
            <td (click)="goToDetails(project.id)">{{ project.startDate | date }}</td>
            <td (click)="goToDetails(project.id)">{{ project.endDate | date }}</td>
          <!--  <td>{{ project.archived ? 'Archived' : 'Active' }}</td> -->
            <td>
              <button (click)="archiveProject(project.id)" class="btn">Archive</button>
              <a [routerLink]="['/projects', project.id, 'edit']" class="btn edit">Edit</a>
             
            </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="projects.length === 0">No projects available.</p>
    </div>
  </div>
</div>