<div class="contact-us section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-6  align-self-center">
          <div class="section-heading">
            <h6>Contact Us</h6>
            <h2>Get in Touch with Our Team</h2>
            <p>Have questions about our programs, PFE projects, or how we can help advance your tech career? Our team is ready to assist you. Reach out to us using the form or visit our campus.</p>
            <div class="contact-info">
              <div class="info-item">
                <i class="fa fa-map-marker"></i>
                <h6>Our Location</h6>
                <p></p>
              </div>
              <div class="info-item">
                <i class="fa fa-envelope"></i>
                <h6>Email Us</h6>
                <p>contact&#64;codingfactory.tech</p>
              </div>
              <div class="info-item">
                <i class="fa fa-phone"></i>
                <h6>Call Us</h6>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-us-content">
            <form id="contact-form" action="" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <fieldset>
                    <input type="name" name="name" id="name" placeholder="Your Name..." autocomplete="on" required>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..." required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" id="message" placeholder="Your Message"></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>